spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
    jpa:
        hibernate:
          ddl-auto: create
        show-sql: true


#하이버네이트에서 자동으로 생성

#    sql:
#        init:
#            mode: always
#            schema-locations: classpath:schema.sql
#            data-locations: